p, div.layout-like-p {
  margin: 0 0 11px; }
  p small, div.layout-like-p small {
    font-size: 14px;
    color: #999999; }

.lead {
  margin-bottom: 22px;
  font-size: 20px;
  font-weight: 200;
  line-height: 33px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #706d73;
  text-rendering: optimizelegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    color: #999999; }

h1 {
  font-size: 30px;
  line-height: 44px; }
  h1 small {
    font-size: 18px; }

h2 {
  font-size: 24px;
  line-height: 44px; }
  h2 small {
    font-size: 18px; }

h3 {
  font-size: 18px;
  line-height: 33px; }
  h3 small {
    font-size: 14px; }

h4, h5, h6 {
  line-height: 22px; }

h4 {
  font-size: 14px; }
  h4 small {
    font-size: 12px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase; }

.page-header {
  padding-bottom: 21px;
  margin: 22px 0;
  border-bottom: 1px solid #333333; }

.page-header h1 {
  line-height: 1; }

ul, ol {
  padding: 0;
  margin: 0 0 11px 25px; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  line-height: 22px; }

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none; }

dl {
  margin-bottom: 22px; }

dt,
dd {
  line-height: 22px; }

dt {
  font-weight: bold;
  line-height: 21px; }

dd {
  margin-left: 11px; }

.dl-horizontal dt {
  float: left;
  width: 120px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.dl-horizontal dd {
  margin-left: 130px; }

ul.ul-horizontal li {
  display: inline-block; }

hr {
  margin: 22px 0;
  border: 0;
  border-top: 1px solid #dddddd; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

.muted {
  color: #999999; }

.text-warning {
  color: #c09853; }

.text-error {
  color: #d44646; }

.text-info {
  color: #d44646; }

.text-success {
  color: #468847; }

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #999999; }

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase; }

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 22px;
  border-left: 5px solid #dddddd; }
  blockquote p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 27.5px; }
  blockquote small {
    display: block;
    line-height: 22px;
    color: #999999; }
    blockquote small:before {
      content: '\2014 \00A0'; }
  blockquote.pull-right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #dddddd;
    border-left: 0; }
    blockquote.pull-right p,
    blockquote.pull-right small {
      text-align: right; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ""; }

address {
  display: block;
  margin-bottom: 22px;
  font-style: normal;
  line-height: 22px; }

small {
  font-size: 100%; }

.increase-font {
  font-size: 130%; }

cite {
  font-style: normal; }

.hide-textindent {
  text-indent: -999em;
  overflow: hidden;
  text-decoration: none; }

.danger {
  color: #d44646; }

hr.spacer {
  border: none;
  margin: 65px; }

/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 3.3.0
build: 3167
*/
.yui3-g {
  letter-spacing: -0.31em;
  /* webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  word-spacing: -0.43em;
  /* IE < 8 && gecko: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */ }

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.yui3-g {
  word-spacing: -0.43em; }

.yui3-u {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /* IE < 8: fake inline-block */
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.yui3-u-1,
.yui3-u-1-2,
.yui3-u-1-3,
.yui3-u-2-3,
.yui3-u-1-4,
.yui3-u-3-4,
.yui3-u-1-5,
.yui3-u-2-5,
.yui3-u-3-5,
.yui3-u-4-5,
.yui3-u-1-6,
.yui3-u-5-6,
.yui3-u-1-8,
.yui3-u-3-8,
.yui3-u-5-8,
.yui3-u-7-8,
.yui3-u-1-12,
.yui3-u-5-12,
.yui3-u-7-12,
.yui3-u-11-12,
.yui3-u-1-24,
.yui3-u-5-24,
.yui3-u-7-24,
.yui3-u-11-24,
.yui3-u-13-24,
.yui3-u-17-24,
.yui3-u-19-24,
.yui3-u-23-24 {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /* IE < 8: fake inline-block */
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.yui3-u-1 {
  display: block;
  width: auto; }

.yui3-u-1-2 {
  width: 50%; }

.yui3-u-1-3 {
  width: 33.33333%; }

.yui3-u-2-3 {
  width: 66.66666%; }

.yui3-u-1-4 {
  width: 25%; }

.yui3-u-3-4 {
  width: 75%; }

.yui3-u-1-5 {
  width: 20%; }

.yui3-u-2-5 {
  width: 40%; }

.yui3-u-3-5 {
  width: 60%; }

.yui3-u-4-5 {
  width: 80%; }

.yui3-u-1-6 {
  width: 16.656%; }

.yui3-u-5-6 {
  width: 83.33%; }

.yui3-u-1-8 {
  width: 12.5%; }

.yui3-u-3-8 {
  width: 37.5%; }

.yui3-u-5-8 {
  width: 62.5%; }

.yui3-u-7-8 {
  width: 87.5%; }

.yui3-u-1-12 {
  width: 8.3333%; }

.yui3-u-5-12 {
  width: 41.6666%; }

.yui3-u-7-12 {
  width: 58.3333%; }

.yui3-u-11-12 {
  width: 91.6666%; }

.yui3-u-1-24 {
  width: 4.1666%; }

.yui3-u-5-24 {
  width: 20.8333%; }

.yui3-u-7-24 {
  width: 29.1666%; }

.yui3-u-11-24 {
  width: 45.8333%; }

.yui3-u-13-24 {
  width: 54.1666%; }

.yui3-u-17-24 {
  width: 70.8333%; }

.yui3-u-19-24 {
  width: 79.1666%; }

.yui3-u-23-24 {
  width: 95.8333%; }

.yui3-u-none {
  display: none; }

.yui3-force-block {
  display: block !important; }

.yui3-force-none {
  display: none !important; }

.yui3-pull-left {
  float: left; }

.yui3-pull-right {
  float: right; }

.yui3-pull-none {
  float: none; }

/* Alignment Helpers */
/* If you want to middle alight a group of yui-u's */
.va-middle {
  vertical-align: middle; }

.va-top {
  vertical-align: top; }

.va-bottom {
  vertical-align: bottom; }

.ta-left {
  text-align: left; }

.ta-right {
  text-align: right; }

.ta-center {
  text-align: center; }

.yui3-u.table-cell {
  display: table-cell;
  word-wrap: break-line;
  word-break: break-word; }

.break-line {
  word-wrap: break-line;
  word-break: break-word; }

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.centered {
  margin-left: auto;
  margin-right: auto; }

/* These are superseded in media querires */
.float-left, .fixed-left {
  float: left; }

.float-right, .fixed-right {
  float: right; }

.mg-b-10 {
  margin-bottom: 10px; }

.mg-b-20 {
  margin-bottom: 20px; }

.mg-b-30 {
  margin-bottom: 30px; }

.mg-b-40 {
  margin-bottom: 40px; }

.mg-t-10 {
  margin-top: 10px; }

.mg-t-20 {
  margin-top: 20px; }

.mg-t-30 {
  margin-top: 30px; }

.mg-t-40 {
  margin-top: 40px; }

.mg-r-10 {
  margin-right: 10px; }

.mg-r-20 {
  margin-right: 20px; }

.mg-r-30 {
  margin-right: 30px; }

.mg-r-40 {
  margin-right: 40px; }

.mg-l-10 {
  margin-left: 10px; }

.fixed-col.icon-showcase {
  width: 140px; }
.fixed-col.icon-view {
  width: 77px; }
.fixed-col.app-detail-icon {
  width: 100px; }
.fixed-col.autocomplete-icon {
  width: 60px; }
.fixed-col.button-app-icon {
  width: 48px; }

.flex-col {
  float: right;
  width: 100%; }
  .flex-col.icon-showcase {
    margin-left: -140px; }
  .flex-col.icon-view {
    margin-left: -77px; }
  .flex-col.app-detail-icon {
    margin-left: -100px; }
  .flex-col.autocomplete-icon {
    margin-left: -60px; }
  .flex-col.button-app-icon {
    margin-left: -48px; }

.icon-showcase .flex-col-inside {
  margin-left: 140px; }
.icon-view .flex-col-inside {
  margin-left: 77px; }
.app-detail-icon .flex-col-inside {
  margin-left: 100px; }
.autocomplete-icon .flex-col-inside {
  margin-left: 60px; }
.button-app-icon .flex-col-inside {
  margin-left: 48px; }

.fixed-col-right {
  float: right;
  position: relative; }
  .fixed-col-right.button-col {
    width: 106px; }
  .fixed-col-right.recommend-button-col {
    width: 100px; }
  .fixed-col-right.button-action-col {
    width: 33px; }

.flex-col-left {
  float: left;
  width: 100%; }
  .flex-col-left.button-col {
    margin-right: -106px; }
  .flex-col-left.recommend-button-col {
    margin-right: -100px; }
  .flex-col-left.button-action-col {
    margin-right: -33px; }

.flex-col-left-inside {
  width: auto;
  float: none;
  position: static; }
  .button-col .flex-col-left-inside {
    margin-right: 106px; }
  .recommend-button-col .flex-col-left-inside {
    margin-right: 100px; }
  .button-action-col .flex-col-left-inside {
    margin-right: 33px; }

html.breakpoint-phone {
  /*
  Copyright (c) 2010, Yahoo! Inc. All rights reserved.
  Code licensed under the BSD License:
  http://developer.yahoo.com/yui/license.html
  version: 3.3.0
  build: 3167
  */
  /* Opera as of 12 on Windows needs word-spacing.
     The ".opera-only" selector is used to prevent actual prefocus styling
     and is not required in markup.
  */ }
  html.breakpoint-phone .m-yui3-g {
    letter-spacing: -0.31em;
    /* webkit: collapse white-space between units */
    *letter-spacing: normal;
    /* reset IE < 8 */
    word-spacing: -0.43em;
    /* IE < 8 && gecko: collapse white-space between units */
    text-rendering: optimizespeed;
    /* Webkit: fixes text-rendering: optimizeLegibility */ }
  html.breakpoint-phone .opera-only :-o-prefocus,
  html.breakpoint-phone .m-yui3-g {
    word-spacing: -0.43em; }
  html.breakpoint-phone .m-yui3-u {
    display: inline-block;
    zoom: 1;
    *display: inline;
    /* IE < 8: fake inline-block */
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  html.breakpoint-phone .m-yui3-u-1,
  html.breakpoint-phone .m-yui3-u-1-2,
  html.breakpoint-phone .m-yui3-u-1-3,
  html.breakpoint-phone .m-yui3-u-2-3,
  html.breakpoint-phone .m-yui3-u-1-4,
  html.breakpoint-phone .m-yui3-u-3-4,
  html.breakpoint-phone .m-yui3-u-1-5,
  html.breakpoint-phone .m-yui3-u-2-5,
  html.breakpoint-phone .m-yui3-u-3-5,
  html.breakpoint-phone .m-yui3-u-4-5,
  html.breakpoint-phone .m-yui3-u-1-6,
  html.breakpoint-phone .m-yui3-u-5-6,
  html.breakpoint-phone .m-yui3-u-1-8,
  html.breakpoint-phone .m-yui3-u-3-8,
  html.breakpoint-phone .m-yui3-u-5-8,
  html.breakpoint-phone .m-yui3-u-7-8,
  html.breakpoint-phone .m-yui3-u-1-12,
  html.breakpoint-phone .m-yui3-u-5-12,
  html.breakpoint-phone .m-yui3-u-7-12,
  html.breakpoint-phone .m-yui3-u-11-12,
  html.breakpoint-phone .m-yui3-u-1-24,
  html.breakpoint-phone .m-yui3-u-5-24,
  html.breakpoint-phone .m-yui3-u-7-24,
  html.breakpoint-phone .m-yui3-u-11-24,
  html.breakpoint-phone .m-yui3-u-13-24,
  html.breakpoint-phone .m-yui3-u-17-24,
  html.breakpoint-phone .m-yui3-u-19-24,
  html.breakpoint-phone .m-yui3-u-23-24 {
    display: inline-block;
    zoom: 1;
    *display: inline;
    /* IE < 8: fake inline-block */
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  html.breakpoint-phone .m-yui3-u-1 {
    display: block;
    width: auto; }
  html.breakpoint-phone .m-yui3-u-1-2 {
    width: 50%; }
  html.breakpoint-phone .m-yui3-u-1-3 {
    width: 33.33333%; }
  html.breakpoint-phone .m-yui3-u-2-3 {
    width: 66.66666%; }
  html.breakpoint-phone .m-yui3-u-1-4 {
    width: 25%; }
  html.breakpoint-phone .m-yui3-u-3-4 {
    width: 75%; }
  html.breakpoint-phone .m-yui3-u-1-5 {
    width: 20%; }
  html.breakpoint-phone .m-yui3-u-2-5 {
    width: 40%; }
  html.breakpoint-phone .m-yui3-u-3-5 {
    width: 60%; }
  html.breakpoint-phone .m-yui3-u-4-5 {
    width: 80%; }
  html.breakpoint-phone .m-yui3-u-1-6 {
    width: 16.656%; }
  html.breakpoint-phone .m-yui3-u-5-6 {
    width: 83.33%; }
  html.breakpoint-phone .m-yui3-u-1-8 {
    width: 12.5%; }
  html.breakpoint-phone .m-yui3-u-3-8 {
    width: 37.5%; }
  html.breakpoint-phone .m-yui3-u-5-8 {
    width: 62.5%; }
  html.breakpoint-phone .m-yui3-u-7-8 {
    width: 87.5%; }
  html.breakpoint-phone .m-yui3-u-1-12 {
    width: 8.3333%; }
  html.breakpoint-phone .m-yui3-u-5-12 {
    width: 41.6666%; }
  html.breakpoint-phone .m-yui3-u-7-12 {
    width: 58.3333%; }
  html.breakpoint-phone .m-yui3-u-11-12 {
    width: 91.6666%; }
  html.breakpoint-phone .m-yui3-u-1-24 {
    width: 4.1666%; }
  html.breakpoint-phone .m-yui3-u-5-24 {
    width: 20.8333%; }
  html.breakpoint-phone .m-yui3-u-7-24 {
    width: 29.1666%; }
  html.breakpoint-phone .m-yui3-u-11-24 {
    width: 45.8333%; }
  html.breakpoint-phone .m-yui3-u-13-24 {
    width: 54.1666%; }
  html.breakpoint-phone .m-yui3-u-17-24 {
    width: 70.8333%; }
  html.breakpoint-phone .m-yui3-u-19-24 {
    width: 79.1666%; }
  html.breakpoint-phone .m-yui3-u-23-24 {
    width: 95.8333%; }
  html.breakpoint-phone .m-yui3-u-none {
    display: none; }
  html.breakpoint-phone .m-yui3-force-block {
    display: block !important; }
  html.breakpoint-phone .m-yui3-force-none {
    display: none !important; }
  html.breakpoint-phone .m-yui3-pull-left {
    float: left; }
  html.breakpoint-phone .m-yui3-pull-right {
    float: right; }
  html.breakpoint-phone .m-yui3-pull-none {
    float: none; }

html.breakpoint-tablet {
  /*
  Copyright (c) 2010, Yahoo! Inc. All rights reserved.
  Code licensed under the BSD License:
  http://developer.yahoo.com/yui/license.html
  version: 3.3.0
  build: 3167
  */
  /* Opera as of 12 on Windows needs word-spacing.
     The ".opera-only" selector is used to prevent actual prefocus styling
     and is not required in markup.
  */ }
  html.breakpoint-tablet .t-yui3-g {
    letter-spacing: -0.31em;
    /* webkit: collapse white-space between units */
    *letter-spacing: normal;
    /* reset IE < 8 */
    word-spacing: -0.43em;
    /* IE < 8 && gecko: collapse white-space between units */
    text-rendering: optimizespeed;
    /* Webkit: fixes text-rendering: optimizeLegibility */ }
  html.breakpoint-tablet .opera-only :-o-prefocus,
  html.breakpoint-tablet .t-yui3-g {
    word-spacing: -0.43em; }
  html.breakpoint-tablet .t-yui3-u {
    display: inline-block;
    zoom: 1;
    *display: inline;
    /* IE < 8: fake inline-block */
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  html.breakpoint-tablet .t-yui3-u-1,
  html.breakpoint-tablet .t-yui3-u-1-2,
  html.breakpoint-tablet .t-yui3-u-1-3,
  html.breakpoint-tablet .t-yui3-u-2-3,
  html.breakpoint-tablet .t-yui3-u-1-4,
  html.breakpoint-tablet .t-yui3-u-3-4,
  html.breakpoint-tablet .t-yui3-u-1-5,
  html.breakpoint-tablet .t-yui3-u-2-5,
  html.breakpoint-tablet .t-yui3-u-3-5,
  html.breakpoint-tablet .t-yui3-u-4-5,
  html.breakpoint-tablet .t-yui3-u-1-6,
  html.breakpoint-tablet .t-yui3-u-5-6,
  html.breakpoint-tablet .t-yui3-u-1-8,
  html.breakpoint-tablet .t-yui3-u-3-8,
  html.breakpoint-tablet .t-yui3-u-5-8,
  html.breakpoint-tablet .t-yui3-u-7-8,
  html.breakpoint-tablet .t-yui3-u-1-12,
  html.breakpoint-tablet .t-yui3-u-5-12,
  html.breakpoint-tablet .t-yui3-u-7-12,
  html.breakpoint-tablet .t-yui3-u-11-12,
  html.breakpoint-tablet .t-yui3-u-1-24,
  html.breakpoint-tablet .t-yui3-u-5-24,
  html.breakpoint-tablet .t-yui3-u-7-24,
  html.breakpoint-tablet .t-yui3-u-11-24,
  html.breakpoint-tablet .t-yui3-u-13-24,
  html.breakpoint-tablet .t-yui3-u-17-24,
  html.breakpoint-tablet .t-yui3-u-19-24,
  html.breakpoint-tablet .t-yui3-u-23-24 {
    display: inline-block;
    zoom: 1;
    *display: inline;
    /* IE < 8: fake inline-block */
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  html.breakpoint-tablet .t-yui3-u-1 {
    display: block;
    width: auto; }
  html.breakpoint-tablet .t-yui3-u-1-2 {
    width: 50%; }
  html.breakpoint-tablet .t-yui3-u-1-3 {
    width: 33.33333%; }
  html.breakpoint-tablet .t-yui3-u-2-3 {
    width: 66.66666%; }
  html.breakpoint-tablet .t-yui3-u-1-4 {
    width: 25%; }
  html.breakpoint-tablet .t-yui3-u-3-4 {
    width: 75%; }
  html.breakpoint-tablet .t-yui3-u-1-5 {
    width: 20%; }
  html.breakpoint-tablet .t-yui3-u-2-5 {
    width: 40%; }
  html.breakpoint-tablet .t-yui3-u-3-5 {
    width: 60%; }
  html.breakpoint-tablet .t-yui3-u-4-5 {
    width: 80%; }
  html.breakpoint-tablet .t-yui3-u-1-6 {
    width: 16.656%; }
  html.breakpoint-tablet .t-yui3-u-5-6 {
    width: 83.33%; }
  html.breakpoint-tablet .t-yui3-u-1-8 {
    width: 12.5%; }
  html.breakpoint-tablet .t-yui3-u-3-8 {
    width: 37.5%; }
  html.breakpoint-tablet .t-yui3-u-5-8 {
    width: 62.5%; }
  html.breakpoint-tablet .t-yui3-u-7-8 {
    width: 87.5%; }
  html.breakpoint-tablet .t-yui3-u-1-12 {
    width: 8.3333%; }
  html.breakpoint-tablet .t-yui3-u-5-12 {
    width: 41.6666%; }
  html.breakpoint-tablet .t-yui3-u-7-12 {
    width: 58.3333%; }
  html.breakpoint-tablet .t-yui3-u-11-12 {
    width: 91.6666%; }
  html.breakpoint-tablet .t-yui3-u-1-24 {
    width: 4.1666%; }
  html.breakpoint-tablet .t-yui3-u-5-24 {
    width: 20.8333%; }
  html.breakpoint-tablet .t-yui3-u-7-24 {
    width: 29.1666%; }
  html.breakpoint-tablet .t-yui3-u-11-24 {
    width: 45.8333%; }
  html.breakpoint-tablet .t-yui3-u-13-24 {
    width: 54.1666%; }
  html.breakpoint-tablet .t-yui3-u-17-24 {
    width: 70.8333%; }
  html.breakpoint-tablet .t-yui3-u-19-24 {
    width: 79.1666%; }
  html.breakpoint-tablet .t-yui3-u-23-24 {
    width: 95.8333%; }
  html.breakpoint-tablet .t-yui3-u-none {
    display: none; }
  html.breakpoint-tablet .t-yui3-force-block {
    display: block !important; }
  html.breakpoint-tablet .t-yui3-force-none {
    display: none !important; }
  html.breakpoint-tablet .t-yui3-pull-left {
    float: left; }
  html.breakpoint-tablet .t-yui3-pull-right {
    float: right; }
  html.breakpoint-tablet .t-yui3-pull-none {
    float: none; }

html.breakpoint-tablet .float-right, html.breakpoint-tablet .float-left, html.breakpoint-phone .float-right, html.breakpoint-phone .float-left {
  float: none; }
