/* we're currently modifying bootstrap.css to apply 'table' and 'table-striped' styles to all tables */

.content {
    padding-bottom: 100px;
}

.label-GET {
  background-color: #3a87ad;
}

.label-POST {
  background-color: #468847;
}

.label-PUT {
  background-color: #f89406;
}

.label-DELETE {
  background-color: #b94a48;
}

.label-GET, .label-POST, .label-PUT, .label-DELETE {
    color: #fff;
    padding: 1px 2px;
}

body a {
    color: #0088cc;
    text-decoration: none;
}

body a:hover {
    color: #005580;
    text-decoration: underline;
}

body a:visited {
    color: #0088cc;
    text-decoration: none;
}

code {
    font-size: 12px;
    white-space: nowrap;
    /* color: #4a484c; */
}

pre {
    background-color: #ececec;
}

pre code {
    white-space: pre-wrap;
}

.alert, pre {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 0;
}

.alert-success {
    background-color: #f8fcf6;
    color: #468847;
}

.alert-error {
    background-color: #faecec;
    color: #b94a48;
}

.alert-info {
    background-color: #eaf8ff;
    color: #3a87ad;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}

body h1, body h2, body h3 {
    line-height: 40px;
}

body h1 {
    font-size: 38.5px;;
}

body h2 {
    font-size: 31.5px;
}

body h3 {
    font-size: 24.5px;
}

body h4 {
    font-size: 17.5px;
}

body h2, body h3, body h4, body h5 {
    color: #4a484c;
    margin-top: 2em;
    margin-bottom: .5em;
}


ul.nav-list ul.nav-list ul.nav-list li a {
    padding-left: 50px;
}

.nav.header {
    margin-bottom: 0;
    border-bottom: none;
}

.subnav-container {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 30px;
}

ul.nav-list {
    padding: 0 0 5px 0;
}

ul.nav-list li a {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}

html.breakpoint-phone .nav.header, html.breakpoint-tablet .nav.header {
    min-width: 100%;
    margin-bottom: 0;
}

 html.breakpoint-tablet .sidebar {
    margin: 0 5%;
 }

html.breakpoint-tablet ul.nav-list ul.nav-list {
    border-right: 0;
}

html.breakpoint-phone .subnav-container .breadcrumb .ordering {
    position: static;
    width: auto;
    top: 0;
}

html.breakpoint-phone .container {
    padding: 0 5px;
}

html.breakpoint-tablet .nav-list {
    margin-right: 0;
    width: auto;
}