<ul class="nav nav-list">

  <li class="nav-header">Documentation</li>
  <ul class="nav nav-list">
    <li><a href="/docs/guides/getting-started/">Getting Started</a></li>
    <li><a href="/docs/guides/create-an-app/">Create an App</a></li>
    <li><a href="/docs/guides/send-a-broadcast/">Send a Broadcast</a></li>
    <li><a href="/docs/guides/messaging/">Messaging Overview</a></li>
    <li><a href="/docs/guides/create-a-post/">Create a Post</a></li>
    <li><a href="/docs/guides/using-annotations/">Using Annotations</a></li>
  </ul>

  <li class="nav-header">Resources</li>
  <ul class="nav nav-list">
    <li><a href="/docs/libraries/">API Libraries</a></li>
    <li><a href="/reference/">Full API Reference</a></li>
    <li><a href="http://patter-app.net/room.html?channel=1383">Developer Chat</a></li>
    <li><a href="https://github.com/appdotnet/api-spec/issues">File a bug</a></li>
  </ul>
</ul>
